# Entornos virtuales
venv/
.venv/
virtualenv
virtuallenv
env/
ENV/

# Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*.log
local_settings.py
.DS_Store

# Media y archivos subidos
media/

# Migrations si no las quieres versionar (opcional, yo sí las subo)
# migrations/

# Otros
*.env
*.idea/
*.vscode/
